{# Corinne/Resources/views/Emails/registration.html.twig #}
<h3 class="amber-text">Un nouveau message est arrivé!</h3>

Bonjour {{ name }}!

<p class="amber-text"> Un message a été déposé sur Corinne Créations <br>
   Le message est le suivant : <br>
-------------------------------------------------------------- </p>
{{  contact.texte }}
<br>
<p class="amber-text">----------------------------------------- </p>
<p class="amber-text"> Merci !</p>


{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ abso }}  #}

