{% extends 'base.html.twig' %}

{% block body%}

    <div class="container amber-text center msg-error">
        <div class="row">
            <div class="col s12">
                <h1>OOOOPSS ! Une érreur a été détectée</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>Le serveur a trouvée l'érreur suivante : <br> <span class="center">"{{ status_code }} {{ status_text }}".</span></p>
                <p>Erreur 404 : Page non trouvée</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>
                    Quelque chose est cassé. Veuillez nous faire savoir ce que vous faisiez lorsque cette erreur s'est produite.
                    Nous allons le réparer dès que possible. Désolé pour tout inconvénient causé.
                </p>
                <p>
                    <a href="{{ path('corinne_homepage') }}"  class="waves-effect waves-light btn-large amber">retour</a>
                </p>
            </div>
        </div>
    </div>

{% endblock body %}