{% extends '@Corinne/layout.html.twig' %}

{% block mention %}
    <br><br>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="text-size2 amber-text">
                <span>
                    <h4>Responsable de publication :</h4>
                    Numéro d'immatriculation au répertoire des métiers (RM) : 524249414RM045<br>
                    Nom du responsable de la publication : Corinne ALLARD
                    <br><br>
                   <h4>Mention d'avertissement d'attention :</h4>
                    Les objets vendus ne conviennent pas aux enfants de moins de 7 ans.
                    <br><br>
                    <h4> Site Internet : </h4>
                    Le Site dans son ensemble, ainsi que les éléments techniques qui le composent (notamment, charte graphique, logiciels mis en œuvre pour le fonctionnement du Site, animations, bases de données, plateformes techniques, etc.) sont la propriété exclusive de corinnecreations,
                    seule habilitée à utiliser les droits de propriété intellectuelle et droits de la personnalité y afférents, notamment marques, modèles, droits d'auteur et droit à l'image, à titre originaire ou par l'effet d'une licence ou d'une autorisation expresse.
                    <br><br>
                    En outre, les textes, images, photographies, documents, ainsi que toutes œuvres intégrées dans le site sont la propriété de la corinnecreations ou de tiers ayant autorisé de corinnecreations à les utiliser.
                    <br><br>
                    L’ensemble de ces éléments constituent des œuvres de l'esprit protégées par les articles L.111-1 et suivants du Code de la propriété intellectuelle.
                    <br><br>
                    L'usage de tout ou partie du Site, notamment par extraction, téléchargement, reproduction, transmission, "reverse engineering", décompilation, désassemblage, représentation ou diffusion à d'autres fins que pour l'usage personnel et privé dans un but non commercial de l'internaute est strictement interdit. La violation de ces dispositions soumet son auteur aux sanctions prévues tant par le Code de la propriété intellectuelle au titre notamment de la contrefaçon de droits d'auteur (articles L.335-3 et suivants), de droit des marques (articles L.716-9 et suivants) que par le Code civil en matière de responsabilité civile (article 9, articles 1382 et suivants).
                    <br><br>
                    <h4>Liens hypertextes :</h4>
                    Tous les sites ayant un lien hypertexte dirigeant vers le Site ou l'un quelconque des éléments qui le composent ne sont pas sous le contrôle de Corinnecreations et/ou de l’éditeur Corinnecreations et ceux-ci déclinent par conséquent toute responsabilité (notamment éditoriale) concernant l'accès et le contenu de ces sites.
                    <br><br>
                    L’Internaute s’engage à respecter pleinement l’intégralité des droits de Corinnecreations. A ce titre, il reconnaît qu'il n'est cessionnaire d'aucun autre droit que celui d'utiliser les moyens notamment techniques mis à sa disposition par le Site.
                    <br><br>
                    <h4>Contenus :</h4>
                    Les services de Corinnecreations en charge des mises à jour et de l’animation du site mettent tout en œuvre pour vous offrir des informations claires, détaillées et fiables. Cependant, si malgré toute l’attention portée à la gestion de ces contenus par nos services vous deviez constater des inexactitudes, des manques d’informations ou des erreurs, nous vous invitons à en informer Corinnecreations, par courrier électronique via notre formulaire.
                    <br><br>

                </span>
            </div>
        </div>
    </div>
</div>

{% endblock mention %}
